/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';

body {
  background-color: lightgrey;
}

.header {
  background-color: rgb(148, 116, 215);
  margin: 0 auto;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  padding: 10px;
}

h1 img {
  width: 100px;
  height: 100px;
}

app-root {
  font-family: 'Poiret One', cursive;
}
